.galleryLink {
    position: absolute;
    bottom: 10px;

    .arrowIcon{
        display: inline-flex;
        vertical-align: middle;
    }
}

.featuredCard{
    box-shadow: 0 0 10px rgb(168, 168, 168),
}