$breakpoint-tablet: 960px;

main {
    background-color: rgb(234, 237, 237);
    min-height: 100%;

    .gridContainer {
        min-height: 100%;
        margin: 0;
        width: 100%;
        padding: 20px 10% 20px 10%;

        justify-content: center;
        
        .imageContainer {
            margin: 20px;

            .previewLink {
                //Sizes the images to fit on screen properly, and then adjusts the size ratio to fix stretching
                display: block;
                //ratio is 2.42105263158
                max-width: 900px;
                max-height: 372px;
                width: auto;
                height: auto;
                border-radius: 5px;

                cursor: pointer;
                margin: auto;
              

                &:hover {
                    transition: .3s ease-in-out;
                    transform: scale(1.5);
                    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
                }
            }
        }
    }

    @media (max-width: $breakpoint-tablet) {
        .gridContainer {
            .imageContainer {
                width: 100%;
                .previewLink {
                    //Sizes the images to fit on screen properly, and then adjusts the size ratio to fix stretching
                    max-width: 100%;

                }
            }
        }
    }
}