$width-sm: 990px;
$height-sm: 800px;
$height-lg: 1245px;

#banner {
    position: relative;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    border-radius: 0px;
}
#banner.short{
    height: 300px !important;
}
@media (max-width: $width-sm) {

    #overlay {
        background-color: rgba(0, 0, 0, 0.50);
        height: 100%;
        width: 100%;
    }
}

@media(min-height: $height-lg) {
    #banner {
        height: 600px;
    }
}

@media(min-height: $height-sm) and (max-height: $height-lg) {
    #banner {
        height: 600px;
    }
}