$breakpoint-tablet: 960px;

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

    #main-wrapper {
        /* will cover the 100% of viewport */
        min-height: 100vh;
        overflow: hidden;
        display: block;
        position: relative;
        /*footer height*/
        padding-bottom: 41px;

      

        .linkCardContainer {
            max-width: 1500px;
            padding: 5px;
            height: 100%;

            @media (min-width: 1500px){
                margin: auto;
                
            }

            .expand {
                max-width: 100%;
                flex-basis: 100%;
            }
        }
    }

    @media (max-width: $breakpoint-tablet) {
        #main-wrapper{
            padding-bottom: 68px;
        }
    }

}