$LongBanner: url('../../Images/BannerImages/ZoomedBannerPurpleWorm4.jpg');
$SlimBanner: url('../../Images/BannerImages/FullBannerPurpleWormSlim.jpg');
$breakpoint-tablet: 960px;

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

    main {
        min-height: 100%;
    }

    #main-wrapper {
        /* will cover the 100% of viewport */
        min-height: 100vh;
        overflow: hidden;
        display: block;
        position: relative;
        /*footer height*/
        padding-bottom: 41px;
        background-color: rgb(234, 237, 237);

        .linkCardsContainer {
            width: 100%;
            min-height: 100%;

            .linksGrid {
                max-width: 1500px;
                padding: 5px;
                padding-top: 20px;
                height: 100%;



                @media (min-width: 1500px) {
                    margin: auto;
                }

                .expand {
                    max-width: 100%;
                    flex-basis: 100%;
                }
            }
        }
    }

    @media (min-width:990px) {
        .homeBackgroundImage {
            background-image: $LongBanner;
        }
    }

    @media (max-width:990px) {
        .homeBackgroundImage {
            background-image: $SlimBanner;
        }
    }

    @media (max-width: $breakpoint-tablet) {
        #main-wrapper {
            padding-bottom: 68px;
        }
    }



}