@import '../../Shared/Theme.scss';

#dark-background {
    animation: fadeToBlack 1s ease-in-out forwards;
    background-color: $dark-mode-background-color;
    position: relative;

    .image-container {
        padding: 40px;
        padding-bottom: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

        .carousel{
            height: calc(100vw/1.34210526316);
            max-height: 70vh;
            max-width: 1450px;            
        }

        .exhibitImageSingle {
            //size the image within the screen regardless of resolution
            max-width: 90vw;
            max-height: 70vh;
            width: auto;
            height: auto;
        }
    }
}

.galleryButton {
    margin: 0px;
    right: 20px;
    bottom: 20px;
    position: absolute !important;
    z-index: 99;
}



@keyframes fadeToBlack {
    0% {
        background-color: $background-color;
    }

    100% {
        background-color: $dark-mode-background-color;
    }
}