@import '../../Shared/Theme.scss';

#dark-background {
    animation: fadeToBlack 1s ease-in-out forwards;
    background-color: $dark-mode-background-color;

    //override theme height for carousel - min height = carousel height + height of preview images + margins
    min-height: calc(70vh + 136px + 40px) !important;
    /* will cover the screen minus the header and footer and keep the pictures within that size */
    height: calc(100vh - #{$header-height} - 41px);

    @media (max-width: $breakpoint-tablet) {
        height: calc(100vh - #{$header-height} - 68px);
    }

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    .image-container,
    .slide {
        width: 90vw;
        max-width: 1650px;
        max-height: 1040px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

        .carousel-slider {
            .exhibitImage {
                //size the image within the screen regardless of resolution
                max-width: 90vw;
                max-height: 70vh;
                width: auto;
                height: auto;
            }
        }

        .exhibitImageSingle {
            //size the image within the screen regardless of resolution
            max-width: 90vw;
            max-height: 70vh;
            width: auto;
            height: auto;

        }

    }

    .carousel-root {
        height: 100%;
        width: 100%;
        max-height: 1100px;
        margin-top: -10%;

        @media (max-height: 1400px) {
            margin-top: 20px !important;
        }

    }

    .thumbs-wrapper {
        min-width: 500px;
        width: 80%;
    }

}

.galleryButton {
    margin: 0px;
    right: 20px;
    bottom: 60px;
    position: fixed !important;

    @media (max-width: 800px){
        // display: none !important;
    }
}



@keyframes fadeToBlack {
    0% {
        background-color: $background-color;
    }

    100% {
        background-color: $dark-mode-background-color;
    }
}