@import '../../Shared/Theme.scss';

#dark-background {
    animation: fadeToBlack 1s ease-in-out forwards;
    background-color: $dark-mode-background-color;
    min-height: 0;

    /* will cover the screen minus the header and footer and keep the pictures within that size */
    height: calc(100vh - #{$header-height} - 41px);

    @media (max-width: $breakpoint-tablet) {
        height: calc(100vh - $header-height - 68px);
    }

    .carousel,
    .carousel-main {
        height: 100%;
        width: 100%;

        div {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                //size the image within the screen regardless of resolution
                max-width: 90%;
                max-height: 90%;
                width: auto;
                height: auto;

            }
        }
    }
}

.navbar, .footer {
    background-color: $black;
   svg{ fill: white; }
}

@media (max-width: $breakpoint-tablet) {}

@keyframes fadeToBlack {
    0% {
        background-color: $background-color;
    }

    100% {
        background-color: $dark-mode-background-color;
    }
}